/**
 * @file Login.module.css
 * @description Estilos CSS específicos para la página de inicio de sesión de usuarios.
 * Define el diseño y los estilos visuales de los elementos en el formulario de login, 
 * como la tarjeta, los campos de entrada, botones y otros elementos interactivos.
 */

/* Estilos para el contenedor principal de la página de login */
.container {
  display: flex;
  justify-content: center;  /* Centra el contenido horizontalmente */
  align-items: center;      /* Centra el contenido verticalmente */
  height: 100vh;            /* Altura completa de la ventana */
  padding: 1rem;
  flex-direction: column;   /* Organiza los elementos en una columna */
}

/* Estilo para el icono de la aplicación (ubicado en la parte superior) */
.icon {
  width: 100px;             /* Ancho del icono */
  height: 100px;            /* Alto del icono */
  margin-bottom: 1rem;      /* Espacio debajo del icono */
}

/* Estilo para la tarjeta que contiene el formulario */
.card {
  width: 100%;              /* Ancho completo de la tarjeta */
  max-width: 400px;         /* Ancho máximo de la tarjeta */
  padding: 2rem;            /* Espaciado interno */
  border-radius: 8px;       /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff;   /* Fondo blanco */
  text-align: center;       /* Centra el texto dentro de la tarjeta */
  border: 0.5px solid #007bff;  /* Borde azul claro */
}

/* Estilo para el título dentro de la tarjeta */
.title {
  margin-bottom: 2rem;      /* Espacio debajo del título */
}

/* Estilos para los campos de entrada (inputs) del formulario */
.input {
  margin-bottom: 1.5rem;    /* Espacio debajo de cada input */
  padding: 0.75rem;         /* Relleno interno */
  width: 100%;              /* Ancho completo de los inputs */
  box-sizing: border-box;   /* Asegura que el padding no afecte el tamaño total */
}

/* Estilo para los mensajes de error */
.error {
  color: red;               /* Color rojo para los mensajes de error */
  margin-bottom: 1.5rem;    /* Espacio debajo del mensaje */
}

/* Estilos para el botón de login */
.button {
  padding: 0.5em 1em;       /* Relleno interno del botón */
  width: 50%;                /* Ancho del 50% del contenedor */
  background-color: #007bff; /* Fondo azul */
  color: #ffffff;            /* Texto blanco */
  border: none;              /* Sin borde */
  border-radius: 4px;        /* Bordes redondeados */
  cursor: pointer;           /* Cursor tipo puntero al pasar por encima */
  font-size: 1em;            /* Tamaño de fuente */
  margin-bottom: 1.5rem;     /* Espacio debajo del botón */
}
.button:hover {
  transform: scale(1.1);
}

/* Estilos para el botón de "Olvidé mi contraseña" */
.forgotPasswordButton {
  background: none;         /* Sin fondo */
  color: #007bff;            /* Color azul */
  font-size: 0.9em;          /* Tamaño de fuente más pequeño */
  font-weight: 400;          /* Peso de fuente normal */
  margin: 1.5em 0;           /* Espacio alrededor del botón */
  text-decoration: underline; /* Subraya el texto */
  border: none;              /* Sin borde */
  cursor: pointer;           /* Cursor tipo puntero al pasar por encima */
}


/* Estilos para la sección que redirige al registro */
.registerRedirect {
  margin-top: 1.5rem;        /* Espacio superior */
}

/* Estilo para el botón que redirige al registro */
.redirectButton {
  padding: 0.5em 1em;       /* Relleno interno del botón */
  font-size: 1em;            /* Tamaño de fuente */
  background-color: #007bff; /* Fondo azul */
  color: #ffffff;            /* Texto blanco */
  border: none;              /* Sin borde */
  border-radius: 4px;        /* Bordes redondeados */
  cursor: pointer;           /* Cursor tipo puntero */
  width: 50%;                /* Ancho del 50% */
}
.redirectButton:hover {
  transform: scale(1.1);
}


/* Botón Google */
.googleButton {
  background-color: #4285f4;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
}

/* Botón Facebook */
.facebookButton {
  background-color: #4267B2;
  color: white;
  padding: 0.5em 1em;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
}

/* Spinner */
.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Pop-up de error */
.popup {
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 1em;
  border-radius: 4px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.languageButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.languageButton {
  background-color: #007bff;
  border: 1px solid #ddd;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.languageButton:hover {
  background-color: #ddd;
}

.socialButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.iconButton {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background-color: #007bff;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
}

.iconButton:hover {
  transform: scale(1.1);
}

.socialIcon {
  color: #ffffff;
}